{{#paper-sidenav
  class="menu"
  position='left'
  lockedOpen=true}}
{{#link-to 'application'}}
  <h1>Playerbase</h1>
{{/link-to}}
{{paper-divider}}
{{#paper-list}}
  {{#paper-item class="menu-item"}}
    {{#link-to 'users'}}Users{{/link-to}}
  {{/paper-item}}
  {{#paper-item class="menu-item"}}
    {{#link-to 'users'}}Users{{/link-to}}
  {{/paper-item}}
  {{#paper-item class="menu-item"}}
    {{#link-to 'users'}}Users{{/link-to}}
  {{/paper-item}}
  {{#paper-item class="menu-item"}}
    {{#link-to 'users'}}Users{{/link-to}}
  {{/paper-item}}
{{/paper-list}}
{{/paper-sidenav}}